<!-- footer section -->
<footer class="container-fluid fouterclasscolor mt-2">
    <div class="container">
        <p class="text-center">Copyright (c) Tsokis 2018 Copyright Holder All Rights Reserved.</p>
        <p class="text-center">
            <span>
                <a href="">
                    <i class="fab fa-twitter-square"></i>
                </a>
            </span>
            <span>
                <a href="">

                    <i class="fab fa-facebook-square"></i>
                </a>
            </span>

            <span>
                <a href="">
                    <i class="fab fa-pinterest-square"></i>
                </a>
            </span>
            <span>
                <a href="">
                    <i class="fab fa-instagram"></i>
                </a>
            </span>


        </p>
    </div>


</footer>
<!-- ------------------------------------- -->