<!-- MAIN CONTENT -->
<div>
  <img src="images/services/innovation.jpg" alt="image" class="img-fluid">
</div>
<main role="main" class="container">
  <div class="starter-template">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h2>Meet the best of the best!</h2>
          <p>Our team is a collective of pure professionalism and perfectionism.We are in the business around 20years as individuals
            and we decide to join our forces in order to offer
            <em>Knowledge</em> and the
            <b>best</b> solutions and services for your
            <em>business</em>
          </p>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus dolore dolor veniam sequi. Laborum obcaecati
            molestiae quis! Vel quidem, est sed reprehenderit, perferendis natus non consectetur commodi voluptatibus culpa
            placeat alias officiis perspiciatis earum corrupti adipisci saepe? Aspernatur asperiores corrupti eaque natus
            unde, at est illum quam molestias ad adipisci officia laudantium, dolorum tenetur itaque excepturi repudiandae.
            Distinctio labore velit deleniti explicabo numquam modi asperiores error laborum hic qui ullam omnis quisquam
            facere cupiditate quam nam dignissimos, provident quia eveniet! Eaque, sint expedita. Facilis quaerat provident
            ut optio incidunt perspiciatis amet tempora magnam mollitia. A molestiae laborum tempore voluptatum nemo.</p>
        </div>
        <div class="col-md-4">
          <h2>Who are we addressing?</h2>
          <ul>
            <li class="text-left">Everyone with passion in technology</li>
            <li class="text-left">Web,mobile Developers</li>
            <li class="text-left">Blockchain developers</li>
            <li class="text-left">IT engineers</li>
            <li class="text-left">Network engineers</li>
            <li class="text-left">Technicians</li>
            <li class="text-left">Fans of digital marketing and new technologies</li>
            <li class="text-left">CryptoFanatics!!!</li>
            <li class="text-left">People all around the word</li>
            <li class="text-left">Everyone</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</main>
<!-- MAIN CONTENT -->