<!--testingContent section-->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h4 class="text-center">Notice</h4>
        </div>
        <div class="col-md-6">
            <h4 class="text-center">Further info</h4>
        </div>
    </div>

</div>
<div class="container mb-1">
    <!-- bootstrap grid -->
    <div class="row">

        <div class="col-sm-3 bg-info">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore officiis possimus, error perspiciatis quos
                similique dolorum, aperiam nobis delectus, ipsum doloribus eos est incidunt ratione illo neque quidem? Ullam,
                nam. </p>

        </div>
        <div class="col-sm-3">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At corrupti soluta adipisci tenetur possimus magni!
                Ut deserunt vitae voluptate obcaecati quibusdam, commodi molestiae explicabo, ipsam, enim cupiditate libero
                ad a!</p>

        </div>
        <div class="col-sm-3">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum corporis quisquam impedit enim distinctio animi
                reiciendis officia amet unde quos, neque aspernatur at veniam. Impedit tempora expedita quidem eius cupiditate!</p>

        </div>
        <div class="col-sm-3">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, suscipit quisquam quod natus impedit sequi
                voluptatum dolorem porro, praesentium animi quas obcaecati dolor commodi, dolore perspiciatis! Saepe temporibus
                reiciendis quae?</p>

        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-10">
            <h5 class="text-center">About Us</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aut atque numquam nobis velit perferendis,
                quia rerum distinctio molestiae suscipit necessitatibus culpa, ipsam dolore amet ipsa vero aspernatur. Labore,
                beatae.
            </p>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, quaerat deleniti earum laborum fugiat sunt sapiente
                similique, aspernatur officiis asperiores, quibusdam atque odio beatae porro provident impedit officia labore
                cum? </p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis qui soluta illo, expedita sed nam maiores.
                Reprehenderit, distinctio? Suscipit animi aut similique impedit omnis aliquam praesentium, cumque autem quis
                nostrum.
            </p>

        </div>
        <div class="col-sm-2 bg-warning">
            <h5>Warnings</h5>
            <p>sdsdssdasdasda
                <br>sdasdsadasdas
                <br>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus, repudiandae?</p>

        </div>
    </div>
    <!-- bootstrap grid end -->
</div>

<!-- card grid? -->


<!-- card grid end? -->

<!--Other content?-->

<!--Other content end?-->


<!-- testing sections ends here -->