<!DOCTYPE html>
<html lang="en">
<head><% include partials/template/head.ejs %></head>
    

    
<body id="<%= pageID %>">
    
    
    
    <!-- Navigation Bar Menu -->
    <% include partials/template/navigationMenu.ejs %>
    <!-- Navigation Bar ends -->
    
    
    
    
   <!-- Main content starts here -->
     <% include partials/content/mainContent.ejs %>
   <!--Main content ends here -->
    
    
    
   
    
    <!-- testing sections with grid starts here -->
    <% include partials/content/testingContent.ejs %>
    <!-- testing sections with grid ends here -->
    
    
    
    
    
    <!-- footer section starts here -->
    <% include partials/content/footer.ejs %>
    <!-- footer ends here -->
    
    
    
    
    

    <!-- Bootstrap core JavaScript and mine js scripts-->   
     <% include partials/template/defaultscripts.ejs %>
    <!-- end scripts -->

</body>
</html>